
.janu{
  margin-top: 90px !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ff8d1e;
    border-color: #ff8d1e;
    font-weight: bold !important;
}

.App1 {
  font-family: 'Montserrat', sans-serif !important;
}



.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    width: 100%;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.nav-tabs .nav-link{
  font-size: 16px !important;
}

.active1 {
  color: black !important;
}

.nav-tabs{
 
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  


}

#bg1{
  height: 180px;
  width: 100%;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #000000ee;

 
}


@media (max-width: 768px) {
  #bg1 h1{
    font-size: 110%; /* Adjust this font size as needed */
  }
  #bg1 h2{
    font-size: 90%; /* Adjust this font size as needed */
  }
  #bg3-1 p {
    font-size: 13px;
  }
  
  #bg3-2 p {
    font-size: 13px;
  }

}

#bg2{
  height: 300px;
  width: auto;
  
}

#bg2img{
 background-size: 300px auto;
 background-repeat: no-repeat;
 background-image: url(https://img.freepik.com/free-vector/red-dart-arrow-hitting-target-center-dartboard_91128-1576.jpg?w=740&t=st=1677479359~exp=1677479959~hmac=72bd63afb6b802280cde9f719863c4864601d1281f70feaa34aa63f864ae3c29);
  
}

#bg3-1{
  height: 350px;
  width: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #000000ee;
  margin-inline: 8px;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);

}
/* #bg3-1:hover {
  box-shadow: 0 0 10px rgba(240, 93, 14, 0.2) inset, 0 0 20px 2px rgba(240, 93, 14, 0.2);
  border: 3px solid rgba(240, 93, 14, 0.2);
} */

#bg3-2{
  height: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #000000ee;
  width: auto;
  margin-inline: 8px;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}

#bg3-1 p {
  font-size: 18px;
  text-align: center;
  /* textAlign: 'center' */
}

#bg3-2 p {
  font-size: 18px;
  text-align: center;

}

@media (max-width: 768px) {
  #bg1 h1{
    font-size: 110%; /* Adjust this font size as needed */
  }
  #bg1 h2{
    font-size: 90%; /* Adjust this font size as needed */
  }
  #bg3-1 p {
    font-size: 13px;
  }
  
  #bg3-2 p {
    font-size: 13px;
  }

}



/* #bg3-2:hover {
  box-shadow: 0 0 10px rgba(240, 93, 14, 0.2) inset, 0 0 20px 2px rgba(240, 93, 14, 0.2);
  border: 3px solid rgba(240, 93, 14, 0.2);
} */


#bg3img{
  
  background-repeat: no-repeat;
  background-size: 300px auto;
}


#bg4{
  transition: width ;
  height: 180px;
  width: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #000000ee;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}


#bg5{
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #000000ee;
  height: 120px;
  width: auto;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  align-items: center;justify-content: center;
  justify-content: center;

  

}
#bg6{
  width: auto;

}

.bg6heading{
  font-weight: bold;
  color: #ff8d1e;
  text-align: justify;
}


.navbar-light .navbar-toggler-icon { 
  background-image :url('https://cdn-icons-png.flaticon.com/512/189/189195.png')
}

#bg4-2{
  height: 430px;
  background-repeat: no-repeat; 
}




#cardscomponent{
  height: 600px;
  width: auto;
}
.about_paragraph{
  font-weight: 100;
}







